@font-face {
font-family: 'parallels';
src: url('font/PARALLELS.otf');
font-weight: normal;
font-style: normal;
}
 h1 {
 	float:left;
 	margin:0px;
 	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	font-size:36px;
 }
 h2 {
 	font-weight: 500;
	line-height: 1.1;
	color: inherit;
 }
body {
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;
	font-family: 'Baloo Thambi',cursive;
	width:100%;
	height:100%;
	overflow:hidden;
}
header {
	height:50px;
	text-align: center;
	border-bottom:2px solid #FF7400;

}
input {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
button {
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	-webkit-appearance: button;
	overflow: visible;
	box-sizing: border-box;
	border:0;
}
button:active {
	border:0;
}
#greatTitle {
	float:left;
	margin:5px;
	font-family: 'parallels';
	display: inline-block;
}

a {
	text-decoration: none;
	color:black;
}
a:hover {
	text-decoration: none;
	color:black;
}

.floatR {
	float:right;
}
.normBut {
	background: none;
	border:none;
	padding:10px;
	height:100%;
	font-size:13px;
	text-decoration: none;
	color:black;
}
.normBut:hover {
	font-size:15px;
}
.heaMeBut {
	display: block;
}
.headerMenuWin {
	position: absolute;
	top:50px;
	right:0px;
	width:200px;
	text-align:center;
	z-index:20;
	background: white;
	border-bottom:2px solid #FF7400;
	border-left:2px solid #FF7400;
	padding:5px;
}
.headerRightBut {
	float:right;
	border-left:2px solid #FF7400;
	margin:0px;
}
#signWin #openBigSignInWin {
	float:right;
	border-bottom:2px solid #FF7400;

	width:100%;
}
h2 {
	font-family: 'Baloo Thambi',cursive;
}
header input {
	margin:5px;
	height:40px;
	width:400px;
	font-size: 30px;
	padding:5px;
	display: inline-block;
}
